body{
    background-color: #EEEEEE;
    color: #222831;
}

.title{
    /* font-style: italic; */
    /* font-size: small; */
    color: #393E46;
}

h1{
    font-size: large;
}

img{
    border-radius: 50%;
}